안산시 데이터 온도 측정지점을 기준으로 3곳으로 나눌 수 있음.

In [67]:
import pandas as pd

In [93]:
data1 = pd.read_csv('dataset/1.안산시_기상데이터.csv')

# addr column 값 통일
data1['addr'] = data1['addr'].replace('경기도 안산시단원구 고잔동', '경기도 안산시 단원구 고잔동')

# '날짜' 컬럼을 datetime 형식으로 변환 및 정렬
data1['obsrv_ymd'] = pd.to_datetime(data1['obsrv_ymd'], format='%Y%m%d')
data1 = data1.sort_values(by='obsrv_ymd')

# 이상한 row들 제거
data1 = data1[data1['wnd_drctn'] >= 0.0] # 풍향이 0 이하인 row들 제거, 측정오류로 처리
data1 = data1[(data1['wnd_drctn'] != 0.0) & (data1['wnd_spd'] != 0.0)] # 풍향과 풍속 전부 0인 row들 제거, 측정오류로 처리
data1 = data1[data1['temp'] > -50.0] # 온도가 -50도 이하인 row들 제거, 측정오류로 처리
data1 = data1[data1['hmdt'] >= 0.0] # 습도가 0도 미만인 row들 제거, 측정오류로 처리
data1 = data1[(data1['prcp_tm'] >= 0.0) & (data1['prcp_dy'] >= 0.0)] # 시간 및 누적 강우량 전부 0인 row들 제거, 측정오류로 처리
data1

,obsrv_cd,obsrv_nm,addr,obsrv_ymd,obsrv_tm,lon,lat,heigt,wnd_drctn,wnd_spd,temp,hmdt,atm_prs,atm_prs_si,prcp_tm,prcp_dy
17421,545,안산,경기도 안산시 사동,2019-01-01,17,126.8385,37.2810,5.92,302.4,2.6,-1.4,60.2,-997,-997,0.0,0.0
17430,435,고잔,경기도 안산시 단원구 고잔동,2019-01-01,12,126.8212,37.3243,32.00,316.4,2.7,-2.3,57.8,-997,-997,0.0,0.0
17429,435,고잔,경기도 안산시 단원구 고잔동,2019-01-01,13,126.8212,37.3243,32.00,289.1,2.7,-2.4,63.5,-997,-997,0.0,0.0
17426,435,고잔,경기도 안산시 단원구 고잔동,2019-01-01,14,126.8212,37.3243,32.00,301.1,3.1,-2.2,65.6,-997,-997,0.0,0.0
17425,545,안산,경기도 안산시 사동,2019-01-01,15,126.8385,37.2810,5.92,302.4,1.1,-0.9,62.6,-997,-997,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64208,435,고잔,경기도 안산시 단원구 고잔동,2023-01-31,8,126.8340,37.3326,73.00,116.7,3.4,-1.8,68.0,-997,-997,0.0,0.0
67524,435,고잔,경기도 안산시 단원구 고잔동,2023-01-31,23,126.8340,37.3326,73.00,264.1,3.2,5.7,97.0,-997,-997,0.0,0.0
67525,545,안산,경기도 안산시 사동,2023-01-31,23,126.8385,37.2810,5.92,45.6,0.1,2.6,89.6,-997,-997,0.0,0.0
66428,435,고잔,경기도 안산시 단원구 고잔동,2023-01-31,18,126.8340,37.3326,73.00,213.5,3.4,6.3,73.7,-997,-997,0.0,0.0
65991,545,안산,경기도 안산시 사동,2023-01-31,16,126.8385,37.2810,5.92,203.5,3.3,8.5,53.2,-997,-997,0.0,0.0

In [104]:
data1_1 = data1[(data1['lon'] == 126.8385) & (data1['lat'] == 37.2810)]
data1_2 = data1[(data1['lon'] == 126.8212) & (data1['lat'] == 37.3243)]
data1_3 = data1[(data1['lon'] == 126.8340) & (data1['lat'] == 37.3326)]

In [ ]:
data1_2

In [ ]:
data1_3

## 3.안산시_가로수 현황 시각화

In [128]:
# GeoJSON 파일 불러오기
with open('dataset/3.안산시_가로수현황.geojson', 'r') as geojson_file:
    geojson_data = json.load(geojson_file)
street_trees_df = pd.json_normalize(geojson_data['features'])
street_trees_df['geometry.coordinates'] = street_trees_df['geometry.coordinates'].apply(lambda x : x[0])
street_trees_df['lon'] = street_trees_df['geometry.coordinates'].apply(lambda x : x[0])
street_trees_df['lat'] = street_trees_df['geometry.coordinates'].apply(lambda x : x[1])
street_trees_df

,type,properties.HJD_CDE,properties.BJD_CDE,geometry.type,geometry.coordinates,lon,lat
0,Feature,4127357000,4127310400,MultiPoint,"[126.77130981479182, 37.29558311978244]",126.771310,37.295583
1,Feature,4127357000,4127310400,MultiPoint,"[126.77122642985587, 37.29560702529468]",126.771226,37.295607
2,Feature,4127357000,4127310400,MultiPoint,"[126.77114090430125, 37.29563016973914]",126.771141,37.295630
3,Feature,4127357000,4127310400,MultiPoint,"[126.77105525924954, 37.2956555124169]",126.771055,37.295656
4,Feature,4127357000,4127310400,MultiPoint,"[126.77096827268889, 37.2956806361881]",126.770968,37.295681
...,...,...,...,...,...,...,...
68838,Feature,4127357000,4127310400,MultiPoint,"[126.73935732916034, 37.30140089565829]",126.739357,37.301401
68839,Feature,4127357000,4127310400,MultiPoint,"[126.73939465578442, 37.301468384206125]",126.739395,37.301468
68840,Feature,4127357000,4127310400,MultiPoint,"[126.73946116266923, 37.30160096460182]",126.739461,37.301601
68841,Feature,4127357000,4127310400,MultiPoint,"[126.73943989009794, 37.30203909055725]",126.739440,37.302039
68842,Feature,4127357000,4127310400,MultiPoint,"[126.73947147076996, 37.302108089171085]",126.739471,37.302108

In [130]:
import folium
from folium import FeatureGroup
import numpy as np
from config import vworld_key
import json

# GeoJSON 파일 불러오기
with open('dataset/3.안산시_가로수현황.geojson', 'r') as geojson_file:
    geojson_data = json.load(geojson_file)
street_trees_df = pd.json_normalize(geojson_data['features'])
street_trees_df['geometry.coordinates'] = street_trees_df['geometry.coordinates'].apply(lambda x : x[0])
street_trees_df['lon'] = street_trees_df['geometry.coordinates'].apply(lambda x : x[0])
street_trees_df['lat'] = street_trees_df['geometry.coordinates'].apply(lambda x : x[1])

# Folium 지도 생성
center_lat = np.mean(street_trees_df['lat'])
center_lon = np.mean(street_trees_df['lon'])
m = folium.Map(location=[center_lat, center_lon], zoom_start=14)

# Create a GeoJSON FeatureCollection with properties including time
feature_collection = {
    "type": "FeatureCollection",
    "features": []
}
# 배경지도 타일 설정하기
layer = "Hybrid"
tileType = "png"
tiles = f"http://api.vworld.kr/req/wmts/1.0.0/{vworld_key}/{layer}/{{z}}/{{y}}/{{x}}.{tileType}"
attr = "Vworld"

folium.TileLayer(
    tiles=tiles,
    attr=attr,
    overlay=True,
    control=True
).add_to(m)

# GeoJSON 데이터를 지도에 추가
for index, row in street_trees_df.iterrows():
    marker = folium.CircleMarker(
        location=[row['lat'], row['lon']],
        radius=3,
        fill=True,
    )
    marker.add_to(m)

# 지도 저장
m.save('street_trees.html')

In [ ]:
import plotly.express as px
import json

# GeoJSON 파일 불러오기
with open('dataset/3.안산시_가로수현황.geojson', 'r') as geojson_file:
    geojson_data = json.load(geojson_file)

# GeoJSON 데이터를 Plotly 지도로 시각화
fig = px.choropleth_mapbox(geojson_data,
                           geojson=geojson_data,
                           locations=None,  # 위치 정보 없음
                           featureidkey="properties.NAME",  # GeoJSON 특성 식별자
                           color="properties.POP_EST",  # 색상을 변경할 속성 선택
                           mapbox_style="carto-positron",  # 지도 스타일
                           center={"lat": 51.505, "lon": -0.09},  # 초기 중심 좌표
                           zoom=9)  # 초기 줌 레벨

fig.show()